/* debug help */
.col{
    border: 1px dashed red;

}

 /* END OF DEBUG  (DELETE WHEN "GO LIVE") */


.container{
    min-width: 573px;
}

#row-header {
    height: 150px;

}

.header-imgs {
    height: 75px;
    width: 75px;
}

#header-brand {
    font-size: 1.5em;
    font-weight: bold;
}

/* #imgAvatar {
    height: 75px;
    width: 75px;
} */