/* debug help */
.col{
    border: 1px dashed red;

}



 /* END OF DEBUG  (DELETE WHEN "GO LIVE") */


/* Styles that affect classes */
.container{
    min-width: 573px;
}

.header-imgs {
    height: 75px;
    width: 75px;
}


/* Styles that affect individual element IDs */
#row-header {
    height: 150px;
    border-bottom: 5px solid #4BE0A7 !important;


}

#header-brand {
    font-size: 1.5em;
    font-weight: bold;
}

#welcome-msg {
    background-color: #1D8B9C;
}

#bttn-createReview {
    background-color:#19FFA7;
}